#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}


.primary-button {
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  
  max-width: 100%;
  width: max-content;
  word-wrap: break-word;
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: 'Roboto';
  display: inline-block;
}

.secondary-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: bold;

  max-width: 100%;
  width: max-content;
  word-wrap: break-word;
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: 'Roboto';
  display: inline-block;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:black;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color:black;
}
